@import "reset.css";
/* NHN 코딩컨벤션을 참고했음. 
   BMH도 이용해봄. */


/* 웹 페이지 구성요소 박스의 가장 큰 틀 */
.wrap{
    width: 1440px;
    margin: 20px auto;
}

/* header 박스 */
.header{
    overflow: hidden;   
}
.header__logo{
    float: left;
    margin-left: 80px;  
}

/* 이미지와 콘텐츠 영역의 높이가 달라지는 문제점 해결법 */
.header__logo--pic{
    display: block;
}
.header__menu{
    display: inline-block;
    margin-left: 140px;
}
.header__menu li{
    list-style-type: none;
    display: inline-block;
    line-height: 56px;
    margin-left: 70px;
    font-weight: bold;
}
/* -----------------여기까지------------------- */

/* main의 윗 부분 */

.container__top{
    background-image: url(../images/lycat.png);
    background-repeat: no-repeat;
    overflow: hidden;

}
.container__top.back-color ::before{
    background-color: #FFCF5C;
}



/* 고양이 이미지 오른쪽 소개글 */
.container__top--intro{
    line-height: 70px;
    padding: 113.475px 0px;
    float: right;
    margin-right: 260px;
}
.container__top--intro-first{
    font-weight: bold;
}
.container__top--intro-second{
    font-size: 110px;
}
.container__top--intro-third{
    color: #614b2d;
    line-height: 20px;
}
.container__top--new-btn{
    width: 200px;
    height: 70px;
    background-color: black;
    border-radius: 10px;
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}
