.wrapper-account {
    display: flex;
    justify-content: center;
}

.container-account {
    border: 1px solid #d5d5d5;
    border-radius: 5px;
}


.title-account {
    position: relative;
    text-align: center;
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 10px;
}

.title-account p {
    font-size: 12px;
    font-weight: bold;
}

.title-account img {
    position: absolute;
    right: 15px;
    bottom: 12px;
    height: 12px;
}

.main-account strong {
    display: block;
    font-size: 14px;
    margin: 15px;
}

.main-account input {
    display: block;
    width: 92%;
    height: 40px;
    font-size: 11px;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    margin: 0px 15px 10px;
    text-indent: 10px;
    font-weight: bold;
}

.text-keep{
    position: relative;
    margin-left: 16px;
}
.text-keep input+label span{
    position: absolute;
    bottom: 1px;
    display: block;
    width: 14px;
    height: 14px;
    background: url('./images/check-box.png') no-repeat;
    background-size: contain;

}
.text-keep input:checked+label span{
    background: url('./images/check-box\ \(1\).png') no-repeat;
    background-size: contain;
}

.text-keep input{
    display: none;
}
.text-keep label{
    font-size: 11px;
    font-weight: bold;
    color: #7f7f7f;
    padding-left: 20px;
}

.main-account button{
    font-size: 14px;
    border: 1px solid #2f80ed;
    border-radius: 5px;
    background-color: #2f80ed;
    margin: 15px;
    width: 92%;
    padding: 10px;
    color: white;
    font-weight: bold;
}

.info-user {
    margin-bottom: 15px;
}

.info-user ul {
    display: flex;
    justify-content: center;
}

.info-user li {
    list-style-type: none;
    font-size: 11px;
}

.info-user a {
    font-size: 11px;
    padding: 0px 10px;
    color: #7f7f7f;

}

.info-user ul>li::after {
    content: "|";
    align-items: center;
}

.info-user ul>li:last-child::after {
    content: "";
}
.other-account ul{
    margin: 0 15px 25px;
}
.other-account hr {
    border: none;
    border-top: 1px solid #d5d5d5;
    width: 350px;
    margin: 30px 15px 0px;
    text-align: center;
    overflow: visible;
}

.other-account hr::after {
    content: "또는";
    font-size: 11px;
    color: #7f7f7f;
    position: relative;
    top: -15px;
    background-color: white;
    padding: 0 10px;
}
/* 왜 li에서 display flex를 했는데 위로 올라가서 붙지 않고 그대로 아래에 있나요? */
.other-account li{
    list-style-type: none;
    display: flex; 
    justify-content: center;
    margin-bottom: 10px;
}

.other-account a{
    position: relative;
    border: 1px solid;
    border-radius: 5px;
    font-size: 12px;
    color: #7f7f7f;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
a.google{
    padding: 10px;
    border-color: #9f9f9f;
}
a.facebook{
    padding: 10px;
    border-color: #67b7e5;
}
a.naver{
    padding: 10px;
    border-color: #67d875;
}
a.kakaotalk{
    padding: 10px;
    border-color: #f5d982;
}

.other-account img{
    position: absolute;
    left: 10px;
    bottom: 7px;
    width: 23px;
}