
/*a 태그 링크옵션*/

a{
    text-decoration: none;
    color: black;
    display: block;
}
a:hover{
    text-decoration: underline;
}
/*margin padding 초기화 */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
