@import "reset.css"; /* 초기화 */
li::marker {
    font-size: 20px;
}

.wrapper{
    margin:30px 0px; 
    min-width: 1200px;
}

.bottom-line{
    margin-bottom: 30px;
}/* 아래 lycat 이미지와 간격을 벌리기 위함 */
.dp-lineBlock{display: inline-block;}
.dp-block{display: block;}
.img_logo{vertical-align: middle;} /* 로고 옆의 글씨들을 로고의 중간에 맞춤*/
.nav-option{
    list-style-type: none;
    display: inline-block;
    margin-left: 60px;
}/* 메뉴의 옵션. li의 marker를 없애고, h1과 nav를 나란히 하기 위한 inline-block, h1과 nav의 간격을 벌림   */ 
.li-menuTab{
    font-weight: bolder;
    display: inline-block;
    margin-right :50px;
}/* 각 리스트의 글자 굵기,각 li를 block->inline-block 시킴, 리스트 간의 간격 조절 */
.li-menuTab.last{
    margin-right: 0px;
}

.bottom-line.article-top{
    background-color: #FFCF5C;
}
.img_lycat{
    vertical-align: middle;
    
}

.dp-block.span-op1{
    font-weight: bolder;
}
.dp-block.span-op1.span-op2{
    font-size: 80px;
}

.dp-lineBlock.ul-line{
    margin: 30px 0px;

}
.test{
    text-align: center;
}

/* Q. diplay : inline-block이 여러군데 있는데, 직접 입력이 나은지, 클래스 명을 이어 붙여서 줄을 없애는게 나은지?*/